[submodule "week1-bonding-curves/contracts/lib/forge-std"]
	path = week1-bonding-curves/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week1-bonding-curves/contracts/lib/openzeppelin-contracts"]
	path = week1-bonding-curves/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week2-erc721/smart_contract_1/lib/forge-std"]
	path = week2-erc721/smart_contract_1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week2-erc721/smart_contract_1/lib/openzeppelin-contracts"]
	path = week2-erc721/smart_contract_1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "week2-erc721/smart_contract_2/lib/forge-std"]
	path = week2-erc721/smart_contract_2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "week2-erc721/smart_contract_2/lib/openzeppelin-contracts"]
	path = week2-erc721/smart_contract_2/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "week1-bonding-curves/contracts/lib/erc1363-payable-token"]
	path = week1-bonding-curves/contracts/lib/erc1363-payable-token
	url = https://github.com/vittominacori/erc1363-payable-token
[submodule "week3-uniswapv2/lib/forge-std"]
	path = week3-uniswapv2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
